/* PROJECTS */

#projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .project-ss {
    width: 200px;
    height: 200px;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--side-bgcolor);
    border-radius: 10px;
  }