@import "/src/index.scss";

#profile-content {

    padding: 40px;
    flex-wrap: wrap;
    

    p {
        margin: 0;
        padding: 0;
        color: $light-textcolor;
        font-weight: 400;
        font-size: 20px;
    }

    .title {
        font-size: 40px;
    }

    .txt-accent{ 
        color: $accent-color;
        font-weight: 500;
    }   
}