@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import '/src/index.scss';


.slick-initialized {
    margin: 30px;
}

.slick-dots li button:before {
    color: white;
    opacity: 1;
  }

.slick-dots li.slick-active button:before {
    color: $light-textcolor !important;
}

.project {
    background-color: $accentcl-color;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;

    h4, p {
        color: $accent-color;
    }

}

