@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root {
  --main-bgcolor: #171717;
  --light-textcolor: #abaaab;
  --darkblack: #010101;
  --accent-color: #5b2e99;
  --side-bgcolor: #1f1232;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-bgcolor);
  color: var(--light-textcolor);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

/* NAVBAR */

#navbar {
  margin: 0;
  padding: 0;
}

#navbar-items{
  margin: 0;
  padding: 20px;
  background-color: #010101;
  opacity: 0.5;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--light-textcolor);
}

/* PROFILE */

#profilephoto {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-container > h2, #profile-container > p {
  margin: 0;
  line-height: 25px;
  color: var(--light-textcolor);
}

#profilename {
  color: var(--accent-color)
}

#profile-content > *{
  padding: 1px;
  margin: 0;
  text-align: center;
}

/* ABOUT */

#about-container {
  background-color: var(--side-bgcolor);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-textcolor);
  border-radius: 10px;
}

#about-container > h3 {
  margin-bottom: 0;
}

.para-accentlines {
  padding: 20px;
  padding-top: 0;
  line-height: 23px;
}

/* SKILLS */

#skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-textcolor);
  padding: 10px;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--side-bgcolor);
}

/* PROJECTS */

#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-ss {
  width: 200px;
  height: 200px;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--side-bgcolor);
  border-radius: 10px;
}

/* Contacts */
#contact-div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--accent-color);
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#message, #sender{
  all: unset;
  background-color: var(--main-bgcolor);
  border-radius: 5px;
  padding: 5px;
}

#sbmt {
  all:unset;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}

#contact-icons {
  margin-top: 30px;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#contact-icons > a > img{
  height: 40px;
  width: 40px;
}

a {
  text-decoration: none !important;
  color: var(--light-textcolor);
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
  background-color: var(--accent-color);
}

/* Handle on hover */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Change the background color on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darkblack) /* Change the color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color); /* Change the color of the scrollbar handle */
  border-radius: 6px; /* Optional: Add rounded corners to the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 
  background: var(--side-bgcolor); /* Change the color of the scrollbar handle on hover */
}

/*  media query 768px */
@media (min-width: 768px){

  .navbar-item {
    font-size: 1.3em;
  }

  #profile-container {
    flex-direction: row-reverse;
    font-size: 1.3em;
    gap: 20px;
  }

  #profilephoto {
    width: 300px;
    height: 300px;
  }

  #about-container {
    position: relative;
    top: -100px;
    margin-left: 20px;
    z-index: -1;
    width: 50%;
  }

  #skills-container {
    margin-top: -90px;
  }

  h3 {
    font-size: 1.3em;
  }

  .icon-container {
    width : 15%;
  }

}
  
/*  media query 1024px */

@media (min-width: 1024px) {

  .navbar-item {
    font-size: 1.6em;
  }



  #navbar-items {
    padding: 30px;
  }

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  h4, a, label {
    font-size: 1.3em;
  }

  #profilephoto {
    width: 450px;
    height: 450px;
  }


  #sender{
    font-size: 2em;
    width: 500px;
    padding: 20px;
  }

  #message {
    width: 500px;
    font-size: 1.5em;
    height: 300px;
    padding: 20px;
  }

  #sbmt {
    margin-top: 10px;
    font-size: 1.5em;
  }

  #contact-icons > a > img {
    margin-top: 20px;
    width: 70px;
    height: 70px;
  }

  .project-ss {
    width: 300px;
    height: 300px;
  }
}


/* media query 1440px */

@media (min-width: 1440px) {
  .navbar-item {
    font-size: 2em;
  }

  #skills {
    gap: 20px;
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 2em;
    line-height: 2em;
  }

  h4, a, label {
    font-size: 1.6em;
  }

  #profilephoto {
    width: 550px;
    height: 550px;
  }


  #sender{
    font-size: 2.5em;
    width: 700px;
    padding: 20px;
  }

  #message {
    width: 700px;
    font-size: 2em;
    height: 400px;
    padding: 20px;
  }

  #sbmt {
    margin-top: 20px;
    font-size: 2em;
  }

  #contact-icons > a > img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
  }

  .project-ss {
    width: 400px;
    height: 400px;
  }
}

/* media query 2560px */

@media (min-width: 2560px) {
  .navbar-item {
    font-size: 3em;
  }

  h3 {
    font-size: 4em;
  }

  p {
    font-size: 3em;
    line-height: 2em;
  }

  h4, a, label {
    font-size: 1.6em;
  }

  #profilephoto {
    width: 550px;
    height: 550px;
  }


  #sender{
    font-size: 2.5em;
    width: 700px;
    padding: 20px;
  }

  #message {
    width: 700px;
    font-size: 2em;
    height: 400px;
    padding: 20px;
  }

  #sbmt {
    margin-top: 20px;
    font-size: 2em;
  }

  #contact-icons > a > img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
  }
}